<div class="panel">
  <h5>Instrucciones</h5>
  <p>En esta página puedes ver el total de acciones disponibles de cada equipo. Da click en <strong>Buy</strong> para comprar una acción. Tienes un límite de 20 acciones por equipo.</p>
</div>

<h1>The Market</h1>

<table class="twelve">
  <thead>
    <tr>
      <th>Pos.</th>
      <th>Name</th>
      <th>Available</th>
      <th>Current Value</th>
      <th></th>
    </tr>
  </thead>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.position %></td>
    <td><%= team.name %></td>
    <td><%= team.stocks_available %></td>
    <td><%= number_to_currency(team.current_value) %></td>
    <% if team.can_buy_stock?(current_user) || team.match_right_now? %>
      <% unless team.match_right_now? %>
        <td><%= button_to 'Buy', stocks_path(team_id: team), class: 'button', id: 'buy_stock' %></td>
      <% else %>
        <td>Team Playing</td>
      <% end %>
    <% else %>
      <td>Not Available</td>
    <% end %>
  </tr>
<% end %>
</table>
