<h1>The Market</h1>

<table class="twelve">
  <thead>
    <tr>
      <th>Pos.</th>
      <th>Name</th>
      <th>Available</th>
      <th>Current Value</th>
      <th></th>
    </tr>
  </thead>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.position %></td>
    <td><%= team.name %></td>
    <td><%= team.stocks_available %></td>
    <td><%= number_to_currency(team.current_value) %></td>
    <% unless team.can_buy_stock?(current_user) && team.match_right_now? %>
      <td><%= button_to 'Buy', stocks_path(team_id: team), class: 'button' %></td>
    <% end %>
  </tr>
<% end %>
</table>
