<h3>Rankings</h3>

<table class="twelve responsive">
	<thead>
		<tr>
			<th>Pos.</th>
			<th></th>
			<th>Nombre</th>
			<th>Valor Portafolio</th>
			<th>Rendimiento</th>
		</tr>
	</thead>
	<tbody>
		<% @players.each_with_index do |player, index| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><%= gravatar_for player, 32 %></td>
			<td><%= player.username.nil? ? player.email : player.username %></td>
			<td><%= number_to_currency(player.total_portfolio_value, precision: 4) %></td>
			<td class="<%= gain_loss(player.total_return_percentage) %>"><%= number_to_percentage(player.total_return_percentage) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
