<div class="row">
  <div class="twelve columns">
    <h3>Bienvenido <%= current_user.try(:username) %></h3>
  </div>
</div>


<div class="row">    
  <div class="eight columns">
    <% @announcements.each do |announcement| %>
      <div class="row">
        <div class="twelve columns">
        	<h5><%= announcement.title %></h5>
          <%= raw announcement.content %>
        </div>
      </div>
      <hr />
		<% end %>   
  </div>

  <aside class="four columns hide-for-small">
    <div class="panel">
      <h5><%= link_to 'Top Ten', rankings_path %></h5>
      <ul class="side-nav">
      <% @players.each_with_index do |player, index| %>
        <li><%= index + 1 %>. <%= player.username.nil? ? player.email : player.username %></li>
      <% end %>
      </ul>
    </div>
  </aside>
 
</div>
