<div class="row">
	<div class="five columns centered">
		<h2>Sign in</h2>
		<fieldset>
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "custom"}) do |f| %>
				  
				  <%= f.label :login, 'Username or Email' %>
				  <%= f.email_field :login %>

				  <%= f.label :password %>
				  <%= f.password_field :password %>

				  <% if devise_mapping.rememberable? -%>
				    <p>
				    	<%= f.label :remember_me, class: 'right' do %>
				    		<%= f.check_box :remember_me %>
				    		Remember Me
			    		<% end %>
				    </p>
				  <% end -%>

				  <%= f.submit "Sign in", class: "button" %>
				<% end %>	
		</fieldset>
		<%#= render "devise/shared/links" %>
	</div>
</div>
