<h3>My Bids</h3>
<table class="twelve responsive">
	<thead>
		<tr>
			<th>Equipo</th>
			<th></th>
			<th>Valor Actual</th>
			<th>Valor Propuesto</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% current_user.bids.each do |bid| %>
			<tr>
				<td><%= bid.team.name %></td>
		    <td><div class="icon <%= bid.team.name.parameterize %>"></div></td>
		    <td><%= number_to_currency(bid.team.current_value) %></td>
				<td><%= number_to_currency(bid.price) %></td>
				<td><%= link_to "Cancel", bid_path(bid, "bid[cancelled]" => true), method: :put, confirm: "Are you sure?", class: 'button' %></td>
			</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3"></td>
			<td><%= number_to_currency(current_user.credit_spent_on_bids) %></td>
		</tr>
	</tfoot>
</table>