<div class="panel">
  <h5>Instrucciones</h5>
  <p>En esta sección se encuentra el historial de tus ventas. Aquí puedes ver tu rendimiento a lo largo del torneo.</p>
</div>
<h1>Transactions</h1>
<table class="twelve">
	<thead>
		<tr>
			<th>Equipo</th>
			<th>Precio Compra</th>
			<th>Precio Venta</th>
			<th>Gain / Loss</th>
			<th>Fecha</th>
		</tr>
	</thead>
	<tbody>
		<% current_user.transactions.each do |transaction| %>
		<tr>
			<td><%= transaction.stock.team.name %></td>
			<td><%= transaction.initial_value %></td>
			<td><%= transaction.final_value %></td>
			<td><%= transaction.roi %></td>
			<td><%= transaction.created_at.to_formatted_s(:long)  %></td>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3"></td>
			<td><%= current_user.transaction_gains %></td>
		</tr>
	</tfoot>
</table>