<div class="row">
	<div class="ten columns">
		<%= f.label :number %>
		<%= f.number_field :number %>
	</div>
	<div class="two columns">
		<%= f.link_to_remove "remove" %>
	</div>
</div>

<hr>
<%= f.fields_for :matchups %>
<%= f.link_to_add "Add match", :matchups, class: "button tiny" %>
<hr>