<%= form_for [:admin, @user] do |f| %>

<div class="row">
	<div class="ten columns">

		<%= f.label :username %>
	  <%= f.email_field :username %>

		<%= f.label :email %>
	  <%= f.email_field :email %>

	  <%= f.label :password %>
	  <%= f.password_field :password %>

	  <%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %>
	</div>

	<div class="two columns">
		<%= f.label :credit %>
	  <%= f.number_field :credit %>
	</div>	
</div>

<div><%= f.submit "Save", class: "button" %></div>

<% end %>