<%= form_for [:admin, @user] do |f| %>

<div class="row">
	<div class="six columns">
		<div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></div>
	</div>

	<div class="six columns">
		<div><%= f.label :credit %><br />
	  <%= f.number_field :credit %></div>
	</div>	
</div>

<div><%= f.submit "Save", class: "button" %></div>

<% end %>