<%= nested_form_for [:admin, @team], html: { class: "custom" } do |f| %>

  <div class="row">
    <div class="one column">
      <%= f.label :position %>
      <%= f.text_field :position %>
    </div>
    <div class="eleven columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  	<div class="row">
  		<div class="twleve columns centered">
  			<fieldset>
  				<legend>Match Results</legend>
 			<%= f.fields_for :matches %>
 			<hr>
			<%= f.link_to_add "Add match", :matches, class: "button tiny" %>
			<hr>
		</fieldset>
  		</div>
  		
  	</div>

  <div class="actions">
    <%= f.submit "Save", class: 'button' %>
  </div>
<% end %>
