<div class="row">
	<div class="one columns">
		<%= f.label :position %>
		<%= f.number_field :position %>
	</div>

	<div class="one columns">
		<%= f.label :rival_position, "Rival" %>
		<%= f.number_field :rival_position %>
	</div>

	<div class="five columns">
		<%= f.datetime_select :date, html: { style: 'float: left; width: 150px;'} %>
	</div>

	<div class="one columns">
		<%= f.label :result, value: "win" do %>
			<%= f.radio_button :result, "win" %>
			Win
		<% end %>
	</div>

	<div class="one columns">
		<%= f.label :result, value: 'tie' do %>
			<%= f.radio_button :result, 'tie' %>
			Tie
		<% end %>
	</div>

	<div class="one columns">
		<%= f.label :result, value: "lose" do %>
			<%= f.radio_button :result, "lose" %>
			Lose
		<% end %>
	</div>

	<div class="one columns">
		<%= f.label :result, value: 0 do %>
			<%= f.radio_button :result, 0 %>
			None
		<% end %>
	</div>

	<div class="one columns">
	  <%= f.link_to_remove "remove" %>
	</div>
</div>