<h1><%= @team.name %></h1>

<table class="twelve">
	<thead>
		<tr>
			<td>Pos.</td>
			<td>Pos. Rival</td>
			<td>Fecha</td>
			<td>Resultado</td>
		</tr>
	</thead>
	<tbody>
		<% @team.matches.each do |match| %>
			<tr>
				<td><%= match.position %></td>
				<td><%= match.rival_position %></td>
				<td><%= match.date %></td>
				<td><%= match.result %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_admin_team_path(@team) %> |
<%= link_to 'Back', admin_teams_path %>
