<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Bolsa Mexicana de Fútbol" %></title>
  
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type='text/javascript'>
	(function (d, t) {
	  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
	  bh.type = 'text/javascript';
	  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=gbvl3iqjbjvotksbshxhug';
	  s.parentNode.insertBefore(bh, s);
	  })(document, 'script');
	</script>

  <%= render 'layouts/mixpanel' if Rails.env.staging? || Rails.env.production? %>

</head>

<body>
	<div class="row">
		<div class="twelve columns">
			<%= render 'layouts/navigation' if user_signed_in? %>
			<%= render 'layouts/messages' %>
			<%= yield %>
		</div>
	</div>

	<footer class="row">
	  <div class="twelve columns">
	    <hr />
	    <div class="row">
	      <div class="six columns">
	        <p>&copy; Ijooooo.</p>
	      </div>
	        <a href="http://mixpanel.com/f/partner" class="right">
	        	<img src="http://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Real Time Web Analytics" />
	        </a>
	      </div>
	    </div>
	  </div> 
	</footer>
</body>

<% unless controller.controller_name == 'sessions' && controller.action_name == 'new' %>
	<%= javascript_tag do %>
	  window.user = "<%=j current_user.email %>";
	<% end %>
<% end %>

</html>